# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.env/
.env
# VS Code
.vscode/

# Streamlit cache
.streamlit/

streamlit_app.backup.py
status.sh
update.sh
ssl
ssl/*
# Logs
*.log
#env
.env.prod
