# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.env/
.env
# VS Code
.vscode/

# Streamlit cache
.streamlit/

streamlit_app.backup.py
status.sh
update.sh
ssl
ssl/*
logs.sh
# Logs
*.log
#env
.env.prod

app/main.py.backup
docker-compose.enhanced.yml
streamlit_app_old.py
streamlit_app_phase1.py
docker-compose.phase2.yml
data/*
