# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.env/
.env
# VS Code
.vscode/

# Streamlit cache
.streamlit/

streamlit_app.backup.py
status.sh
update.sh
ssl
ssl/*
logs.sh
# Logs
*.log
#env
.env.prod

app/main.py.backup
docker-compose.enhanced.yml
streamlit_app_old.py
streamlit_app_phase1.py
docker-compose.phase2.yml
data/*
apply_ui_fixes.sh
deploy_fixes.sh
fix_trip_history.sh
fix_trip_planning.sh
sqlfix.sh
streamlit_app.py.backup
streamlit_app.py.backup_20250910_123159
streamlit_app.py.backup_before_fix
streamlit_app.py.backup_phase2
streamlit_app_updated.py
add_chat_interface.sh
